.cont{
    .contredes{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .imgredes{
            border: 0px;
            width: 128px;
            margin: 50px;
        }
    } 
    .contpagos{
        display: flex;
        justify-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 150px;
        .imgredes{
            border: 0px;
            width: 150px;
            margin: 30px;
        }
    } 
}
