.cont{
    .contredes{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .imgredes{
            border: 0px;
            width: 128px;
            margin: 50px;
        }
    } 
    .contpagos{
        display: flex;
        justify-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 150px;
        width: 80%;
        .mediopago{
            display: flex;
            align-items: center;
            width: 135px;
            height: 135px;
            .imgredes{
                border: 0px;
                width: 100%;
            }
        }

    } 
}
