@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/*VARIABLES*/
/*VARIABLES*/
/*NAVBAR*/
body {
  background-color: rgb(45, 45, 51);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #141225;
  z-index: 1000;
}
header .checkbtn {
  float: right;
  cursor: pointer;
  display: none;
}
header #check {
  display: none;
}
header .botonmenu {
  width: 50px;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60.5px;
}
header nav .logo .imgredes {
  width: 60px;
}
header nav ul {
  margin: 0px;
  padding: 0px;
}
header nav li {
  display: inline-block;
}
header nav li a {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
  color: #dfddef;
  padding: 20px 0px 20px 0px;
  margin: 0px 40px 0px 40px;
}
header nav li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
header nav li a:hover::before {
  transform: scaleX(1);
}
header nav li a:hover {
  color: gray;
  transition: all 0.5s;
}
header nav .redesnav .imgredes {
  margin: 0px 10px 0px 10px;
}

/*CONTENEDOR GENERAL*/
.cont_responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*FOOTER*/
footer {
  color: #dfddef;
  background-color: #141225;
  width: 100%;
  height: 50px;
  text-align: center;
  bottom: 0;
}
footer p {
  padding-top: 15px;
}

/*CONTENEDOR PRINCIPAL*/
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  text-align: center;
  width: 75%;
  margin: 50px 0px 80px 0px;
  background-color: #141225;
  color: #dfddef;
  min-width: 650px;
  /*BOTONES*/
}
.cont .extend, .cont .sub, .cont .anuncio, .cont h1 {
  margin: 30px 0px 20px 0px;
}
.cont h1 {
  font-size: 3em;
}
.cont .anuncio {
  font-size: 3em;
}
.cont .sub {
  font-size: 1.9em;
  text-decoration: underline;
}
.cont .text {
  margin: 30px 50px 30px 50px;
  font-size: 1.1em;
}
.cont p {
  text-decoration: overline;
  color: #9f6cd1;
  margin: 30px 0px 10px 0px;
  font-size: 1.5em;
}
.cont .violet {
  color: #9f6cd1;
}
.cont img {
  border-radius: 7px;
  width: 70%;
}
.cont .imgtrade {
  border-radius: 7px;
  width: 50%;
}
.cont .gostore {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: large;
  padding: 10px 50px 10px 50px;
  margin: 30px;
  color: #dfddef;
  background-color: rgba(159, 108, 209, 0.7);
  border-radius: 7px;
}
.cont .gostore:hover {
  background-color: rgba(68, 47, 90, 0.7);
  transition: all 0.5s;
  color: #dfddef;
}

.cont .contredes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cont .contredes .imgredes {
  border: 0px;
  width: 128px;
  margin: 50px;
}
.cont .contpagos {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 150px;
  width: 80%;
}
.cont .contpagos .mediopago {
  display: flex;
  align-items: center;
  width: 135px;
  height: 135px;
}
.cont .contpagos .mediopago .imgredes {
  border: 0px;
  width: 100%;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141225;
  border-radius: 7px;
  margin: 120px;
  padding-bottom: 100px;
}
.store h1 {
  text-decoration: overline;
  color: #9f6cd1;
  margin: 34px 0px 10px 0px;
  font-size: 1.5em;
}
.store p {
  color: #9f6cd1;
  margin: 30px 0px 30px 0px;
}
.store .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 80px 0px 80px;
}
.store img {
  margin: 20px;
}
.store .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(223, 221, 239, 0.1);
  border-radius: 7px;
  margin: 8px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(159, 108, 209, 0.7);
}
.store .items p {
  color: #dfddef;
  margin: 10px;
}
.store .items .nameitem {
  color: #9f6cd1;
  width: 250px;
}
.store .items:hover {
  box-shadow: 0 4px 20px rgba(159, 108, 209, 0.7);
  transition: 0.3s;
}

.cont-padre {
  background-color: #141225;
  color: #dfddef;
  border-radius: 7px;
  width: 85%;
  margin: 50px 0px 80px 0px;
  display: grid;
  text-align: center;
  grid-template-areas: "info info" "datos redessociales" "ubicacion ubicacion";
}
.cont-padre .info {
  grid-area: info;
}
.cont-padre .datos {
  grid-area: datos;
  margin-top: 40px;
}
.cont-padre .redessociales {
  grid-area: redessociales;
  margin-right: 150px;
}
.cont-padre .redessociales .contredes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-padre .redessociales .contredes a {
  margin: 0px;
  padding: 0px;
}
.cont-padre .redessociales .imgredes {
  margin: 30px 0px 0px 0px;
}
.cont-padre .ubicacion {
  grid-area: ubicacion;
  margin-top: 30px;
}
.cont-padre h1 {
  font-size: 3em;
  margin: 30px 0px 30px 0px;
  text-align: center;
}
.cont-padre p {
  text-decoration: overline;
  color: #9f6cd1;
  margin: 30px 0px 30px 0px;
  font-size: 1.5em;
  text-align: center;
}
.cont-padre .text {
  text-decoration: none;
  color: #dfddef;
  margin: 20px 100px 20px 100px;
  font-size: 1.2em;
}
.cont-padre .h4center {
  text-align: center;
  text-decoration: none;
  color: #dfddef;
  font-size: 1.1em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form textarea {
  max-width: 1000px;
  max-height: 300px;
  min-width: 600px;
  min-height: 300px;
}
form .minibutton {
  color: #dfddef;
  background-color: rgba(159, 108, 209, 0.7);
  border-radius: 7px;
  padding: 10px 30px;
  margin: 10px 0px 10px 0px;
}
form .minibutton:hover {
  background-color: rgba(68, 47, 90, 0.7);
  transition: all 0.5s;
}

@media (max-width: 1280px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
  }
  header nav {
    justify-content: space-between;
  }
  header nav .checkbtn {
    display: block;
  }
  header nav .redesnav {
    display: none;
  }
  header nav #check:checked ~ ul {
    left: 0;
  }
  header nav ul {
    display: block;
    position: fixed;
    background-color: rgb(45, 45, 51);
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  header nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav ul li a {
    margin-bottom: 20px;
  }
  .cont {
    margin-top: 100px;
  }
  .cont h4 {
    margin: 30px 70px 30px 70px;
    text-align: justify;
  }
  .cont .abonos {
    text-align: center;
  }
  .cont .imgtrade {
    border-radius: 7px;
    width: 80%;
  }
  .cont .anuncio {
    margin: 30px 20px 30px 20px;
  }
  .cont .contredes {
    flex-direction: column;
  }
  .cont .contredes .imgredes {
    margin: 10px;
  }
  .cont .contpagos .imgredes {
    margin: 10px;
  }
  .cont-padre {
    grid-template-areas: "info" "datos" "redessociales" "ubicacion";
    margin-top: 100px;
  }
  .cont-padre .redessociales {
    margin: 0px;
  }
  .cont-padre .redessociales .imgredes {
    margin: 10px;
  }
  .cont-padre h4 {
    text-align: justify;
    margin: 20px 70px 20px 70px;
  }
  .cont-padre textarea {
    max-width: 500px;
    max-height: 200px;
    min-width: 500px;
    min-height: 200px;
  }
  .store {
    width: 100%;
  }
  .store .list {
    margin-left: 10px;
    margin-right: 10px;
  }
  .store .list .items {
    width: 20%;
  }
  .store .list .items img {
    width: 100%;
  }
  .store .list .items .nameitem {
    font-size: 15px;
    width: 100%;
  }
}
@media (max-width: 650px) {
  header nav .redesnav {
    display: none;
  }
  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 0px;
  }
  .cont .gostore {
    font-size: medium;
    padding: 10px 80px 10px 80px;
  }
  .cont h1 {
    margin: 30px 0px 30px 0px;
    font-size: 2em;
  }
  .cont h4 {
    margin: 30px 10px 30px 10px;
  }
  .cont .anuncio {
    margin: 30px 10px 30px 10px;
    text-align: center;
  }
  .cont .contpagos {
    justify-content: center;
    margin: 15px;
  }
  .cont .contpagos .imgredes {
    width: 100px;
    margin: 15px;
  }
  .store .list .items {
    width: 40%;
  }
  .cont-padre {
    margin: 120px 0px 120px 0px;
    min-width: 270px;
    width: 100%;
  }
  .cont-padre .redessociales {
    margin-right: 0px;
  }
  .cont-padre .text {
    margin: 20px 0px 20px 0px;
  }
  .cont-padre textarea {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
  }
}/*# sourceMappingURL=style.css.map */